@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Rubik:wght@500&display=swap");

:root {
   --aw-font-family-heading: "Rubik", sans-serif;
   --aw-font-family-text: "Roboto", sans-serif;

   --aw-color-white: #fff;
   --aw-color-black: #000;
   --aw-color-gray: #f4f4f4;
   --aw-color-inner-text: #929aa1;
   --aw-color-link: #0034ec;
}
