.aw-header {
   position: sticky;
   top: 0px;
   display: none;

   @media screen and (min-width: 526px) {
      display: flex;
   }

   &__wrapper {
      display: inherit;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
   }
}
