.aw-block {
   display: flex;
   flex-direction: column;
   width: 100%;
   max-width: none;
   padding: 0px vw(16px, 320px);

   @media screen and (min-width: 526px) {
      padding: 0px vw(24px, 744px);
   }

   @media screen and (min-width: 921px) {
      max-width: vw(1200px);
      margin: 0 auto;
      padding: 0px;
   }

   @media screen and (min-width: 1440px) {
      max-width: 1200px;
      padding: 0px;
   }
}

.aw-block__rounded {
   border-radius: vw(32px, 320px);

   @media screen and (min-width: 526px) {
      border-radius: vw(32px, 744px);
   }
   @media screen and (min-width: 921px) {
      border-radius: vw(32px);
   }
   @media screen and (min-width: 1440px) {
      border-radius: 32px;
   }
}
