.aw-input {
   border-radius: vw(32px, 320px);
   min-width: 100%;

   @media screen and (min-width: 526px) {
      border-radius: vw(32px, 744px);
      min-width: vw(420px, 744px);
   }
   @media screen and (min-width: 921px) {
      border-radius: vw(32px);
      min-width: vw(420px);
   }
   @media screen and (min-width: 1440px) {
      border-radius: 32px;
      min-width: 420px;
   }

   input,
   textarea,
   input,
   textarea {
      color: var(--aw-color-black);
      background-color: var(--aw-color-gray);
      box-shadow: none;
      transition: background-color ease-in-out 0.3s, box-shadow ease-in-out 0.3s;
      font-family: var(--aw-font-family-text);
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      border: none;
      width: 100%;
      min-height: vw(42px, 320px);
      font-size: vw(14px, 320px);

      @media screen and (min-width: 526px) {
         min-height: vw(42px, 744px);
         font-size: vw(15px, 744px);
      }
      @media screen and (min-width: 921px) {
         min-height: vw(42px);
         font-size: vw(15px);
      }
      @media screen and (min-width: 1440px) {
         min-height: 42px;
         font-size: 15px;
      }

      &:hover {
         background-color: #eeeeee;
      }

      &:active,
      &:disabled {
         box-shadow: none;
      }

      &:disabled {
         background-color: #929aa1;
         color: var(--aw-color-black);
      }

      &:focus-visible,
      &:active {
         box-shadow: 0px 0px 0px vw(3px, 320px) rgba(5, 10, 31, 0.3);

         @media screen and (min-width: 526px) {
            box-shadow: 0px 0px 0px vw(3px, 744px) rgba(5, 10, 31, 0.3);
         }
         @media screen and (min-width: 921px) {
            box-shadow: 0px 0px 0px vw(3px) rgba(5, 10, 31, 0.3);
         }
         @media screen and (min-width: 1440px) {
            box-shadow: 0px 0px 0px 3px rgba(5, 10, 31, 0.3);
         }
      }

      &.invalid {
         box-shadow: 0px 0px 0px vw(3px, 320px) rgba(255, 0, 0, 0.5);

         @media screen and (min-width: 526px) {
            box-shadow: 0px 0px 0px vw(3px, 744px) rgba(255, 0, 0, 0.5);
         }
         @media screen and (min-width: 921px) {
            box-shadow: 0px 0px 0px vw(3px) rgba(255, 0, 0, 0.5);
         }
         @media screen and (min-width: 1440px) {
            box-shadow: 0px 0px 0px 3px rgba(255, 0, 0, 0.5);
         }
      }
   }

   input {
      border-radius: inherit;
      padding: vw(12px, 320px);
      margin-bottom: vw(16px, 320px);

      @media screen and (min-width: 526px) {
         padding: vw(12px, 744px);
         margin-bottom: vw(16px, 744px);
      }
      @media screen and (min-width: 921px) {
         padding: vw(12px);
         margin-bottom: vw(16px);
      }
      @media screen and (min-width: 1440px) {
         padding: 12px;
         margin-bottom: 16px;
      }
   }

   textarea {
      resize: none;
      border-radius: vw(16px, 320px);
      padding: vw(9px, 320px) vw(12px, 320px);

      @media screen and (min-width: 526px) {
         border-radius: vw(16px, 744px);
         padding: vw(9px, 744px) vw(12px, 744px);
      }
      @media screen and (min-width: 921px) {
         border-radius: vw(16px);
         padding: vw(9px) vw(12px);
      }
      @media screen and (min-width: 1440px) {
         border-radius: 16px;
         padding: 9px 12px;
      }
   }

   input[type="submit"] {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--aw-color-black);
      color: var(--aw-color-white);
      width: vw(240px, 320px);
      padding: vw(12px, 320px);
      margin-top: vw(24px, 320px);

      @media screen and (min-width: 526px) {
         width: vw(245px, 744px);
         padding: vw(12px, 744px);
         margin-top: vw(24px, 744px);
      }
      @media screen and (min-width: 921px) {
         width: vw(245px);
         padding: vw(12px);
         margin-top: vw(24px);
      }
      @media screen and (min-width: 1440px) {
         width: 245px;
         padding: 12px;
         margin-top: 24px;
      }
   }
}
